body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: auto;
  background-color: black;
  color: white;
  transition: top 0.5s ease;
}

a {
  transition: all 0.5s ease;
}

.constrained {
  padding: 1rem;
  margin: auto;
  max-width: 70rem;
}

.--fit-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navigation {
  border-bottom: 2px solid #ee699b;
}

.navigation__anchor {
  box-sizing: border-box;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  display: block;
}

.navigation__anchor:hover {
  color: #ee699b;
  border-color: #ee699b;
}

#hero {
  background-image: url('./golden-gate.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  padding: 1rem;
  height: 250px;
  max-height: 60vh;
  border-bottom: 2px solid #ee699b;
}

.hero__header {
  text-align: center;
  font-size: 2rem;
  color: #ee699b;
  padding: 1rem;
}

img {
  max-width: 100%;
  margin: 1rem auto;
  display: block;
}

.profile-picture {
  border-radius: 50%;
  border: 2px solid #ee699b;
  max-height: 250px;
}

.jamela__header,
.history__header,
.interests__header {
  font-weight: lighter;
}

.jamela__header,
.interests__header {
  color: #ee699b;
}

.blurb {
  margin-bottom: 0.5rem;
}

.resource,
.contact {
  display: block;
  text-decoration: none;
  color: white;
  margin: 1rem auto;
  font-size: 1.125rem;
}

.resource:hover,
.contact:hover {
  color: #ee699b;
}

.resource__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

#history {
  background-color: #ee699b;
  color: black;
}

.history__header,
.history__subtitle {
  color: white;
}

.footer {
  border-top: 2px solid #ee699b;
}

#photos {
  display: none;
}

@media (min-width: 500px) {
  .navigation__anchor {
    display: inline-block;
  }

  #hero {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .half {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem;
    box-sizing: border-box;
  }

  .contact {
    display: inline-block;
  }

  .--float-right {
    float: right;
  }

  #hero {
    background-position: center top;
  }
}

@media (min-width: 1200px) {
  #hero {
    background-position: center top;
    background-size: contain;
  }
  .gallery-photo {
    height: 300px;
    width: auto;
  }

  #photos {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
  }
}

@media (min-width: 1600px) {
  #hero {
    background-position: center top;
    background-size: contain;
    height: 550px;
  }

}
